{"swagger":"2.0","info":{"version":"v1","title":"SAOP.API"},"host":"moj.minimax.rs","basePath":"/RS/API","schemes":["https"],"paths":{"/api/orgs/{organisationId}/accounts":{"get":{"tags":["Account"],"summary":"Returns all accounts for given organisation.","description":"Returns all accounts for given organisation.","operationId":"Account_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Account.Account]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/accounts/{accountId}":{"get":{"tags":["Account"],"summary":"Returns an account.","description":"Returns an account.","operationId":"Account_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"accountId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Account.Account"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/accounts/code({code})":{"get":{"tags":["Account"],"summary":"Returns an account for its code.","description":"Returns an account for its code.","operationId":"Account_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Account.Account"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/accounts/content({content})":{"get":{"tags":["Account"],"summary":"Returns an account for the corresponding content (based on Organization settings).","description":"Returns an account for the corresponding content (based on Organization settings).","operationId":"Account_GetByContent","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"content","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Account.Account"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/accounts/synccandidates":{"get":{"tags":["Account"],"summary":"Returns accounts for sync.","description":"Returns accounts for sync.","operationId":"Account_GetAccountsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/addresses":{"get":{"tags":["Address"],"summary":"Returns all addresses for a given customer.","description":"Returns all addresses for a given customer.","operationId":"Address_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Address.AddressModel]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Address"],"summary":"Adds a new address to a specific customer.","description":"Adds a new address to a specific customer.","operationId":"Address_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"address","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Address.AddressModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/addresses/{addressId}":{"get":{"tags":["Address"],"summary":"Returns an address.","description":"Returns an address.","operationId":"Address_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"addressId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Address.AddressModel"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Address"],"summary":"Updates an address.","description":"Updates an address.","operationId":"Address_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"addressId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"address","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Address.AddressModel"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Address"],"summary":"Deletes an address.","description":"Deletes an address.","operationId":"Address_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"addressId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/addresses/synccandidates":{"get":{"tags":["Address"],"summary":"Returns addresses for sync.","description":"Returns addresses for sync.","operationId":"Address_GetAddressesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/analytics":{"get":{"tags":["Analytic"],"summary":"Returns all analytics for the given organization.","description":"Returns all analytics for the given organization.","operationId":"Analytic_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Analytic.AnalyticSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Analytic"],"summary":"Adds a new analytic.","description":"Adds a new analytic.","operationId":"Analytic_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"analytic","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Analytic.Analytic"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/analytics/{analyticId}":{"get":{"tags":["Analytic"],"summary":"Returns an analytic.","description":"Returns an analytic.","operationId":"Analytic_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"analyticId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Analytic.Analytic"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Analytic"],"summary":"Updates analytic.","description":"Updates analytic.","operationId":"Analytic_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"analyticId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"analytic","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Analytic.Analytic"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Analytic"],"summary":"Deletes analytic.","description":"Deletes analytic.","operationId":"Analytic_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"analyticId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/analytics/synccandidates":{"get":{"tags":["Analytic"],"summary":"Returns analytics for sync.","description":"Returns analytics for sync.","operationId":"Analytic_GetAnalyticsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/bankAccounts":{"get":{"tags":["BankAccount"],"summary":"Returns all bank accounts for a given customer.","description":"Returns all bank accounts for a given customer.","operationId":"BankAccount_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.BankAccount.BankAccount]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["BankAccount"],"summary":"Adds a new bank account to a specified customer.","description":"Adds a new bank account to a specified customer.","operationId":"BankAccount_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"account","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.BankAccount.BankAccount"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/bankAccounts/{bankAccountId}":{"get":{"tags":["BankAccount"],"summary":"Returns a bank account.","description":"Returns a bank account.","operationId":"BankAccount_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"bankAccountId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.BankAccount.BankAccount"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["BankAccount"],"summary":"Updates a bank account.","description":"Updates a bank account.","operationId":"BankAccount_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"bankAccountId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"account","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.BankAccount.BankAccount"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["BankAccount"],"summary":"Deletes a bank account.","description":"Deletes a bank account.","operationId":"BankAccount_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"bankAccountId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/bankAccounts/synccandidates":{"get":{"tags":["BankAccount"],"summary":"Returns bank accounts for sync.","description":"Returns bank accounts for sync.","operationId":"BankAccount_GetBankAccountsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/contacts":{"get":{"tags":["Contact"],"summary":"Returns all contacts for a given customer.","description":"Returns all contacts for a given customer.","operationId":"Contact_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Contact.Contact]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Contact"],"summary":"Adds a new contact to a specified customer.","description":"Adds a new contact to a specified customer.","operationId":"Contact_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"contact","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Contact.Contact"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/contacts/{contactId}":{"get":{"tags":["Contact"],"summary":"Returns a contact.","description":"Returns a contact.","operationId":"Contact_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Contact.Contact"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Contact"],"summary":"Updates contact information.","description":"Updates contact information.","operationId":"Contact_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"contact","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Contact.Contact"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Contact"],"summary":"Deletes a contact.","description":"Deletes a contact.","operationId":"Contact_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"contactId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/contacts":{"get":{"tags":["Contact"],"summary":"Returns contacts for all customers.","description":"Returns contacts for all customers.","operationId":"Contact_GetContacts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Contact.Contact]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}/contacts/synccandidates":{"get":{"tags":["Contact"],"summary":"Returns contacts for sync.","description":"Returns contacts for sync.","operationId":"Contact_GetContactsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/countries":{"get":{"tags":["Country"],"summary":"Returns all countries.","description":"Returns all countries.","operationId":"Country_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Country.Country]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/countries/{countryId}":{"get":{"tags":["Country"],"summary":"Returns a country for its id.","description":"Returns a country for its id.","operationId":"Country_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"countryId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Country.Country"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/countries/code({code})":{"get":{"tags":["Country"],"summary":"Returns a country for its code.","description":"Returns a country for its code.","operationId":"Country_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Country.Country"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/countries/synccandidates":{"get":{"tags":["Country"],"summary":"Returns countries for sync.","description":"Returns countries for sync.","operationId":"Country_GetCountriesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/currencies":{"get":{"tags":["Currency"],"summary":"Returns all currencies.","description":"Returns all currencies.","operationId":"Currency_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Currency.Currency]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/currencies/{currencyId}":{"get":{"tags":["Currency"],"summary":"Returns a currency for given id.","description":"Returns a currency for given id.","operationId":"Currency_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"currencyId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Currency.Currency"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/currencies/date({date})":{"get":{"tags":["Currency"],"summary":"Returns a domestic currency.","description":"Returns a domestic currency.","operationId":"Currency_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"date","in":"path","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Currency.Currency"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/currencies/code({code})":{"get":{"tags":["Currency"],"summary":"Returns a currency for given id.","description":"Returns a currency for given id.","operationId":"Currency_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Currency.Currency"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/currencies/synccandidates":{"get":{"tags":["Currency"],"summary":"Returns currencies for sync.","description":"Returns currencies for sync.","operationId":"Currency_GetCurrenciesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers":{"get":{"tags":["Customer"],"summary":"Returns all customers for given organisation.","description":"Returns all customers for given organisation.","operationId":"Customer_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Customer.CustomerSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Customer"],"summary":"Adds a new customer.","description":"Adds a new customer.","operationId":"Customer_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customer","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Customer.Customer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/{customerId}":{"get":{"tags":["Customer"],"summary":"Returns a customer.","description":"Returns a customer.","operationId":"Customer_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Customer.Customer"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Customer"],"summary":"Updates customer.","description":"Updates customer.","operationId":"Customer_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customer","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Customer.Customer"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Customer"],"summary":"Deletes customer.","description":"Deletes customer.","operationId":"Customer_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"customerId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/code({code})":{"get":{"tags":["Customer"],"summary":"Returns a customer with given code.","description":"Returns a customer with given code.","operationId":"Customer_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Customer.Customer"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/addbytaxnumber({taxNumber})":{"post":{"tags":["Customer"],"summary":"Adds a new customer according to the tax number.","description":"Adds a new customer according to the tax number.","operationId":"Customer_AddCustomerByTaxNumber","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"taxNumber","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/customers/synccandidates":{"get":{"tags":["Customer"],"summary":"Returns customers that match filter criteria for sync.","description":"Returns customers that match filter criteria for sync.","operationId":"Customer_GetCustomersSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/dashboards":{"get":{"tags":["Dashboard"],"summary":"Returns dashboards data.","description":"Returns dashboards data.","operationId":"Dashboard_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Dashboard.Dashboard"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/documents":{"get":{"tags":["Document"],"summary":"Returns all documents for the given organization.","description":"Returns all documents for the given organization.","operationId":"Document_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Document.DocumentSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Document"],"summary":"Adds a new document.","description":"Adds a new document.","operationId":"Document_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"document","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Document.Document"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/documents/{documentId}":{"get":{"tags":["Document"],"summary":"Returns a document.","description":"Returns a document.","operationId":"Document_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Document.Document"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Document"],"summary":"Updates document.","description":"Updates document.","operationId":"Document_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"document","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Document.Document"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Document"],"summary":"Deletes document.","description":"Deletes document.","operationId":"Document_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/documents/{documentId}/attachments/{documentAttachmentId}":{"get":{"tags":["Document"],"summary":"Returns a document attachment.","description":"Returns a document attachment.","operationId":"Document_GetDocumentAttachment","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentAttachmentId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Document.DocumentAttachment"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Document"],"summary":"Updates document attachment.","description":"Updates document attachment.","operationId":"Document_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentAttachmentId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentAttachment","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Document.DocumentAttachment"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Document"],"summary":"Deletes document attachment.","description":"Deletes document attachment.","operationId":"Document_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentAttachmentId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/documents/{documentId}/attachments":{"post":{"tags":["Document"],"summary":"Adds a new document attachment.","description":"Adds a new document attachment.","operationId":"Document_PostDocumentAttachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentAttachment","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Document.DocumentAttachment"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/documents/synccandidates":{"get":{"tags":["Document"],"summary":"Returns documents for sync.","description":"Returns documents for sync.","operationId":"Document_GetDocumentsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/document-numbering":{"get":{"tags":["DocumentNumbering"],"summary":"Returns DocumentNumbering for issued and proforma invoices.","description":"Returns DocumentNumbering for issued and proforma invoices.","operationId":"DocumentNumbering_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.DocumentNumbering.DocumentNumbering]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/document-numbering/{documentNumberingId}":{"get":{"tags":["DocumentNumbering"],"summary":"Returns a document numbering for given id.","description":"Returns a document numbering for given id.","operationId":"DocumentNumbering_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"documentNumberingId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.DocumentNumbering.DocumentNumbering"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/efaktura/list":{"get":{"tags":["EFaktura"],"summary":"Returns EFaktura entries.","description":"Returns EFaktura entries.","operationId":"EFaktura_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.RSEFaktura.EFakturaEntry]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/employees":{"get":{"tags":["Employee"],"summary":"Returns all employees for the given organization.","description":"Returns all employees for the given organization.","operationId":"Employee_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Employee.EmployeeSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Employee"],"summary":"Adds a new employee.","description":"Adds a new employee.","operationId":"Employee_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"employee","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Employee.Employee"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/employees/{employeeId}":{"get":{"tags":["Employee"],"summary":"Returns an employee.","description":"Returns an employee.","operationId":"Employee_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"employeeId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Employee.Employee"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Employee"],"summary":"Updates employee.","description":"Updates employee.","operationId":"Employee_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"employeeId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"employee","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Employee.Employee"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Employee"],"summary":"Deletes employee.","description":"Deletes employee.","operationId":"Employee_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"employeeId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/employees/synccandidates":{"get":{"tags":["Employee"],"summary":"Returns employees for sync.","description":"Returns employees for sync.","operationId":"Employee_GetEmployeesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/exchange-rates/{currencyId}":{"get":{"tags":["ExchangeRate"],"summary":"Returns the daily exchange rate for the specified currency.","description":"Returns the daily exchange rate for the specified currency.","operationId":"ExchangeRate_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"currencyId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"date","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.ExchangeRate.ExchangeRate"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/exchange-rates/code({currencyCode})":{"get":{"tags":["ExchangeRate"],"summary":"Returns the daily exchange rate for the currency that corresponds with the specified code.","description":"Returns the daily exchange rate for the currency that corresponds with the specified code.","operationId":"ExchangeRate_GetByCode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"currencyCode","in":"path","required":true,"type":"string"},{"name":"date","in":"query","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.ExchangeRate.ExchangeRate"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/inbox":{"get":{"tags":["Inbox"],"summary":"Returns all inbox Items for a given organization.","description":"Returns all inbox Items for a given organization.","operationId":"Inbox_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Inbox.Inbox]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Inbox"],"summary":"Adds the specified item to the inbox.","description":"Adds the specified item to the inbox.","operationId":"Inbox_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"inbox","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Inbox.Inbox"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/inbox/{inboxId}":{"get":{"tags":["Inbox"],"summary":"Returns the specified inbox item.","description":"Returns the specified inbox item.","operationId":"Inbox_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"inboxId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Inbox.Inbox"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Inbox"],"summary":"Adds the specified inbox attachements to the inbox.","description":"Adds the specified inbox attachements to the inbox.","operationId":"Inbox_PostAttachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"inboxId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"attachements","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SAOP.API.Models.Inbox.InboxAttachment"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Inbox"],"summary":"Deletes the specified item from the inbox.","description":"Deletes the specified item from the inbox.","operationId":"Inbox_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"inboxId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/inbox/{inboxId}/attachments/{inboxAttachmentId}":{"delete":{"tags":["Inbox"],"summary":"Deletes the specified attachment from the inbox item.","description":"Deletes the specified attachment from the inbox item.","operationId":"Inbox_DeleteAttachment","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"inboxId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"inboxAttachmentId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/inbox/{inboxId}/actions/{actionName}":{"put":{"tags":["Inbox"],"summary":"  Performs a custom action on inbox.\r\n                                <div class='description'><br/>Available <b>actionName</b> values: <ul>\r\n                                                                        <li>approve</li> \r\n                                                                        <li>reject</li>\r\n                                                                    </ul>\r\n                <br/>\r\n                <b>Other parameters</b>:\r\n                <ul>\r\n                    <li><b>rejectionReason</b>: used with the <b>reject</b> action.</li>\r\n                    <li><b>approvalReason</b>: used with the <b>approve</b> action.</li>\r\n                    <li><b>createReceivedInvoice</b></li>\r\n                </ul>\r\n\r\n                                </div>","description":"  Performs a custom action on inbox.\r\n                                <div class='description'><br/>Available <b>actionName</b> values: <ul>\r\n                                                                        <li>approve</li> \r\n                                                                        <li>reject</li>\r\n                                                                    </ul>\r\n                <br/>\r\n                <b>Other parameters</b>:\r\n                <ul>\r\n                    <li><b>rejectionReason</b>: used with the <b>reject</b> action.</li>\r\n                    <li><b>approvalReason</b>: used with the <b>approve</b> action.</li>\r\n                    <li><b>createReceivedInvoice</b></li>\r\n                </ul>\r\n\r\n                                </div>","operationId":"Inbox_Put","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"inboxId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"actionName","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoices":{"get":{"tags":["IssuedInvoice"],"summary":"Returns all issued invoices for given organization.","description":"Returns all issued invoices for given organization.","operationId":"IssuedInvoice_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.IssuedInvoice.IssuedInvoiceSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["IssuedInvoice"],"summary":"Adds a new issued invoice.","description":"Adds a new issued invoice.","operationId":"IssuedInvoice_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoice","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.IssuedInvoice.IssuedInvoice"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoices/{issuedInvoiceId}":{"get":{"tags":["IssuedInvoice"],"summary":"Returns an issued invoice.","description":"Returns an issued invoice.","operationId":"IssuedInvoice_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoiceId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.IssuedInvoice.IssuedInvoice"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["IssuedInvoice"],"summary":"Updates issued invoice.","description":"Updates issued invoice.","operationId":"IssuedInvoice_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoiceId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoice","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.IssuedInvoice.IssuedInvoice"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["IssuedInvoice"],"summary":"Deletes issued invoice.","description":"Deletes issued invoice.","operationId":"IssuedInvoice_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoiceId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoices/{issuedInvoiceId}/actions/{actionName}":{"put":{"tags":["IssuedInvoice"],"summary":"Performs a custom action on issued invoice.\r\n            <div class='description'><br/>Available <b>actionName</b> values:\r\n                <ul>\r\n                    <li>issue</li>\r\n                    <li>issueCancellation</li>\r\n                    <li>generatepdf</li>\r\n                    <li>copytocreditnote</li>\r\n                    <li>copyToReverse</li>\r\n                    <li>issueAndGeneratepdf</li>\r\n                    <li>sendEInvoice</li>\r\n                </ul>\r\n                <br/>\r\n                <b>Optional parameters</b>:\r\n                <ul>\r\n                    <li><b>issueCancellationReason</b>: May be optionally used with the <b>issueCancellation</b> action.</li>\r\n                    <li><b>reverseReason</b>: May be optionally used with the <b>copyToReverse</b> action.</li>\r\n                </ul>\r\n            </div>\r\n            ","description":"Performs a custom action on issued invoice.\r\n            <div class='description'><br/>Available <b>actionName</b> values:\r\n                <ul>\r\n                    <li>issue</li>\r\n                    <li>issueCancellation</li>\r\n                    <li>generatepdf</li>\r\n                    <li>copytocreditnote</li>\r\n                    <li>copyToReverse</li>\r\n                    <li>issueAndGeneratepdf</li>\r\n                    <li>sendEInvoice</li>\r\n                </ul>\r\n                <br/>\r\n                <b>Optional parameters</b>:\r\n                <ul>\r\n                    <li><b>issueCancellationReason</b>: May be optionally used with the <b>issueCancellation</b> action.</li>\r\n                    <li><b>reverseReason</b>: May be optionally used with the <b>copyToReverse</b> action.</li>\r\n                </ul>\r\n            </div>\r\n            ","operationId":"IssuedInvoice_Put","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoiceId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"rowVersion","in":"query","required":true,"type":"string"},{"name":"actionName","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoices/synccandidates":{"get":{"tags":["IssuedInvoice"],"summary":"Returns issued invoices for sync.","description":"Returns issued invoices for sync.","operationId":"IssuedInvoice_GetIssuedInvoicesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoices/paymentmethods":{"get":{"tags":["IssuedInvoice"],"summary":"Returns all payment methods for given organisation.","description":"Returns all payment methods for given organisation.","operationId":"IssuedInvoice_GetPaymentMethods","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.IssuedInvoice.PaymentMethodSearch]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoices/{issuedInvoiceId}/attachments":{"get":{"tags":["IssuedInvoice"],"summary":"Returns all attachments for a given issued invoice.","description":"Returns all attachments for a given issued invoice.","operationId":"IssuedInvoice_GetAttachments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoiceId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SAOP.API.Models.Attachment"}}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["IssuedInvoice"],"summary":"Adds an attachment to a given issued invoice.","description":"Adds an attachment to a given issued invoice.","operationId":"IssuedInvoice_PostAddAttachment","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoiceId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"attachment","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Attachment"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoicepostings":{"get":{"tags":["IssuedInvoicePosting"],"summary":"Returns issued invoice postings for a given organisation.","description":"Returns issued invoice postings for a given organisation.","operationId":"IssuedInvoicePosting_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.IssuedInvoicePosting.IssuedInvoicePostingSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["IssuedInvoicePosting"],"summary":"Adds a new issued invoice posting.","description":"Adds a new issued invoice posting.","operationId":"IssuedInvoicePosting_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoicePosting","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.IssuedInvoicePosting.IssuedInvoicePosting"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoicepostings/{issuedInvoicePostingId}":{"get":{"tags":["IssuedInvoicePosting"],"summary":"Returns an issued invoice posting.","description":"Returns an issued invoice posting.","operationId":"IssuedInvoicePosting_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoicePostingId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.IssuedInvoicePosting.IssuedInvoicePosting"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["IssuedInvoicePosting"],"summary":"Deletes an issued invoice posting.","description":"Deletes an issued invoice posting.","operationId":"IssuedInvoicePosting_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoicePostingId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoicepostings/paymentmethods":{"get":{"tags":["IssuedInvoicePosting"],"summary":"Returns all payment methods to be used within IssuedInvoicePosting objects (for given organisation).","description":"Returns all payment methods to be used within IssuedInvoicePosting objects (for given organisation).","operationId":"IssuedInvoicePosting_GetPaymentMethods","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.IssuedInvoicePosting.PaymentMethodSearch]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/issuedinvoicepostings/{issuedInvoicePostingId}/actions/{actionName}":{"put":{"tags":["IssuedInvoicePosting"],"summary":"Performs a custom action on IssuesInvoicePosting.\r\n            <div class='description'><br/>Available <b>actionName</b> values:\r\n                <ul>\r\n                    <li>issue</li>\r\n                    <li>issueCancellation</li>\r\n                </ul>\r\n            </div>\r\n            ","description":"Performs a custom action on IssuesInvoicePosting.\r\n            <div class='description'><br/>Available <b>actionName</b> values:\r\n                <ul>\r\n                    <li>issue</li>\r\n                    <li>issueCancellation</li>\r\n                </ul>\r\n            </div>\r\n            ","operationId":"IssuedInvoicePosting_Put","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"issuedInvoicePostingId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"actionName","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/items":{"get":{"tags":["Item"],"summary":"Returns all items for the given organization.","description":"Returns all items for the given organization.","operationId":"Item_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Item.ItemSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Item"],"summary":"Adds a new item.","description":"Adds a new item.","operationId":"Item_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Item.Item"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/items/{itemId}":{"get":{"tags":["Item"],"summary":"Returns an item.","description":"Returns an item.","operationId":"Item_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"itemId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Item.Item"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Item"],"summary":"Updates item.","description":"Updates item.","operationId":"Item_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"itemId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Item.Item"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Item"],"summary":"Deletes item.","description":"Deletes item.","operationId":"Item_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"itemId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/items/code({code})":{"get":{"tags":["Item"],"summary":"Returns an item with given code.","description":"Returns an item with given code.","operationId":"Item_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Item.Item"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/items/settings":{"get":{"tags":["Item"],"summary":"Returns items settings for given orgaisation. ","description":"Returns items settings for given orgaisation. ","operationId":"Item_GetItemsSettings","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Item.ItemsSettings"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/items/itemsdata":{"get":{"tags":["Item"],"summary":"Returns items title, code, price and unit of measurement for the given item.","description":"Returns items title, code, price and unit of measurement for the given item.","operationId":"Item_GetItemsData","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.ListResult[SAOP.API.Models.Item.ItemData]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/items/pricelists":{"get":{"tags":["Item"],"summary":"Returns item data including selling price (with and without VAT) for combination of given parameters – warehouse and item or custumer and item.","description":"Returns item data including selling price (with and without VAT) for combination of given parameters – warehouse and item or custumer and item.","operationId":"Item_GetPriceLists","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.ListResult[SAOP.API.Models.Item.ItemPriceListItem]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/items/synccandidates":{"get":{"tags":["Item"],"summary":"Returns items for sync.","description":"Returns items for sync.","operationId":"Item_GetItemsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journals":{"get":{"tags":["Journal"],"summary":"Returns all journals for given organisation.","description":"Returns all journals for given organisation.","operationId":"Journal_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Journal.JournalSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Journal"],"summary":"Adds a new journal.","description":"Adds a new journal.","operationId":"Journal_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journal","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Journal.Journal"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journals/{journalId}":{"get":{"tags":["Journal"],"summary":"Returns a journal. ","description":"Returns a journal. ","operationId":"Journal_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Journal.Journal"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Journal"],"summary":"Updates journal.","description":"Updates journal.","operationId":"Journal_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journal","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Journal.Journal"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Journal"],"summary":"Deletes a journal.","description":"Deletes a journal.","operationId":"Journal_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journals/{journalId}/vat/{vatId}":{"get":{"tags":["Journal"],"summary":"Returns a VAT entry.","description":"Returns a VAT entry.","operationId":"Journal_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"vatId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Journal.VATEntry"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Journal"],"summary":"Updates VAT entry.","description":"Updates VAT entry.","operationId":"Journal_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"vatId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"vatRecord","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Journal.VATEntry"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Journal"],"summary":"Deletes a VAT entry.","description":"Deletes a VAT entry.","operationId":"Journal_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"vatId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journals/{journalId}/vat":{"post":{"tags":["Journal"],"summary":"Adds a VAT entry to a specified journal.","description":"Adds a VAT entry to a specified journal.","operationId":"Journal_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"vatRecord","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Journal.VATEntry"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journals/synccandidates":{"get":{"tags":["Journal"],"summary":"Returns journals for sync.","description":"Returns journals for sync.","operationId":"Journal_GetJournalsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journals/vodstandard":{"get":{"tags":["Journal"],"summary":"Returns all journals for a given organisation where VODStandardCode exists if issued invoice bookkepping is set to VOD standard.","description":"Returns all journals for a given organisation where VODStandardCode exists if issued invoice bookkepping is set to VOD standard.","operationId":"Journal_GetJournalsInVODStandard","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journals/journal-entries":{"get":{"tags":["Journal"],"summary":"Returns all journal entries for a given organisation.","description":"Returns all journal entries for a given organisation.","operationId":"Journal_GetJournalEntries","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Journal.JournalEntries]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journaltypes":{"get":{"tags":["JournalType"],"summary":"Returns all journal types.","description":"Returns all journal types.","operationId":"JournalType_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.JournalType.JournalType]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journaltypes/{journalTypeId}":{"get":{"tags":["JournalType"],"summary":"Returns a journal type for its id.","description":"Returns a journal type for its id.","operationId":"JournalType_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"journalTypeId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.JournalType.JournalType"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journaltypes/code({code})":{"get":{"tags":["JournalType"],"summary":"Returns a journal type for its code.","description":"Returns a journal type for its code.","operationId":"JournalType_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.JournalType.JournalType"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/journaltypes/synccandidates":{"get":{"tags":["JournalType"],"summary":"Returns journal types for sync.","description":"Returns journal types for sync.","operationId":"JournalType_GetJournalTypesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/orders":{"get":{"tags":["Order"],"summary":"Returns all orders for given organization.","description":"Returns all orders for given organization.","operationId":"Order_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Order.OrderSearch]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["Order"],"summary":"Adds a new order.","description":"Adds a new order.","operationId":"Order_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"order","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Order.Order"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/orders/{orderId}":{"get":{"tags":["Order"],"summary":"Returns an order.","description":"Returns an order.","operationId":"Order_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"orderId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Order.Order"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Order"],"summary":"Updates order.","description":"Updates order.","operationId":"Order_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"orderId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"order","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.Order.Order"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["Order"],"summary":"Deletes order.","description":"Deletes order.","operationId":"Order_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"orderId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/orders/{orderId}/actions/{actionName}":{"get":{"tags":["Order"],"summary":"  Performs a custom action on order. \r\n                                <div class='description'><br/>Available <b>actionName</b> values: <ul>\r\n                                                                        <li>getorderpdf</li>\r\n                                                                    </ul>\r\n                                </div>","description":"  Performs a custom action on order. \r\n                                <div class='description'><br/>Available <b>actionName</b> values: <ul>\r\n                                                                        <li>getorderpdf</li>\r\n                                                                    </ul>\r\n                                </div>","operationId":"Order_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"orderId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"rowVersion","in":"query","required":true,"type":"string"},{"name":"actionName","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["Order"],"summary":"  Performs a custom action on order.\r\n                                <div class='description'><br/>Available <b>actionName</b> values: <ul>\r\n                                                                        <li>confirm</li> \r\n                                                                        <li>cancelConfirmation</li>\r\n                                                                        <li>complete</li>\r\n                                                                        <li>cancelCompletion</li>\r\n                                                                        <li>invalidate</li>\r\n                                                                        <li>cancelInvalidation</li>\r\n                                                                        <li>createissuedinvoice</li>\r\n                                                                        <li>generatepdf</li>\r\n                                                                    </ul>\r\n                                </div>","description":"  Performs a custom action on order.\r\n                                <div class='description'><br/>Available <b>actionName</b> values: <ul>\r\n                                                                        <li>confirm</li> \r\n                                                                        <li>cancelConfirmation</li>\r\n                                                                        <li>complete</li>\r\n                                                                        <li>cancelCompletion</li>\r\n                                                                        <li>invalidate</li>\r\n                                                                        <li>cancelInvalidation</li>\r\n                                                                        <li>createissuedinvoice</li>\r\n                                                                        <li>generatepdf</li>\r\n                                                                    </ul>\r\n                                </div>","operationId":"Order_Put","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"orderId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"rowVersion","in":"query","required":true,"type":"string"},{"name":"actionName","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/orders/synccandidates":{"get":{"tags":["Order"],"summary":"Returns orders for sync.","description":"Returns orders for sync.","operationId":"Order_GetOrdersSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}":{"get":{"tags":["Organisation"],"summary":"Returns organisation details.","description":"Returns organisation details.","operationId":"Organisation_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Organisation.Organisation"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/allOrgs":{"get":{"tags":["Organisation"],"summary":"Returns all organizations details.","description":"Returns all organizations details.","operationId":"Organisation_GetAll","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"startRowIndex","in":"query","required":true,"type":"integer","format":"int32"},{"name":"endRowIndex","in":"query","required":true,"type":"integer","format":"int32"},{"name":"searchString","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SAOP.API.Models.Organisation.Organisation"}}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/outbox":{"get":{"tags":["Outbox"],"summary":"Returns all outbox Items for a given organization.","description":"Returns all outbox Items for a given organization.","operationId":"Outbox_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Outbox.Outbox]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/outbox/{outboxId}":{"get":{"tags":["Outbox"],"summary":"Returns the specified outbox item.","description":"Returns the specified outbox item.","operationId":"Outbox_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"outboxId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.Outbox.Outbox"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/paymentMethods":{"get":{"tags":["PaymentMethod"],"summary":"Returns all payment methods for given organisation.","description":"Returns all payment methods for given organisation.","operationId":"PaymentMethod_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.PaymentMethod.PaymentMethodSearch]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/payrollsettings/{payrollSettingCode}":{"get":{"tags":["PayrollSettings"],"summary":"Returns payroll settings for given code, customer code and date (YYYYMMDD).","description":"Returns payroll settings for given code, customer code and date (YYYYMMDD).","operationId":"PayrollSettings_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"payrollSettingCode","in":"path","required":true,"type":"string"},{"name":"externalUserIdentifier","in":"query","required":false,"type":"string"},{"name":"customerCode","in":"query","required":false,"type":"string"},{"name":"date","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.Payroll.PayrollSettings]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/postalcodes/countries/{countryId}":{"get":{"tags":["PostalCode"],"summary":"Returns all postal codes for given country.","description":"Returns all postal codes for given country.","operationId":"PostalCode_GetPostalCodesForCounty","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"countryId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.PostalCode.PostalCode]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/postalcodes/{postalCodeId}":{"get":{"tags":["PostalCode"],"summary":"Returns a postal code by id.","description":"Returns a postal code by id.","operationId":"PostalCode_GetPostalCodeByID","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"postalCodeId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.PostalCode.PostalCode"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/postalcodes/synccandidates":{"get":{"tags":["PostalCode"],"summary":"Returns postal codes for sync.","description":"Returns postal codes for sync.","operationId":"PostalCode_GetPostalCodesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/productGroups":{"get":{"tags":["ProductGroup"],"summary":"Returns all product groups for the given organisation.","description":"Returns all product groups for the given organisation.","operationId":"ProductGroup_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.ProductGroup.ProductGroup]"}}},"security":[{"oauth2":["Minimax"]}]},"post":{"tags":["ProductGroup"],"summary":"Adds a new product group.","description":"Adds a new product group.","operationId":"ProductGroup_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"productGroup","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.ProductGroup.ProductGroup"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/productGroups/{productGroupId}":{"get":{"tags":["ProductGroup"],"summary":"Returns a product group.","description":"Returns a product group.","operationId":"ProductGroup_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"productGroupId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.ProductGroup.ProductGroup"}}},"security":[{"oauth2":["Minimax"]}]},"put":{"tags":["ProductGroup"],"summary":"Updates a product group.","description":"Updates a product group.","operationId":"ProductGroup_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"productGroupId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"productGroup","in":"body","required":true,"schema":{"$ref":"#/definitions/SAOP.API.Models.ProductGroup.ProductGroup"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]},"delete":{"tags":["ProductGroup"],"summary":"Deletes a product group.","description":"Deletes a product group.","operationId":"ProductGroup_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"productGroupId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/productGroups/synccandidates":{"get":{"tags":["ProductGroup"],"summary":"Returns product groups for sync.","description":"Returns product groups for sync.","operationId":"ProductGroup_GetProductGroupsSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/purpose-codes":{"get":{"tags":["PurposeCode"],"summary":"Returns all purpose codes.","description":"Returns all purpose codes.","operationId":"PurposeCode_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SearchResult[SAOP.API.Models.PurposeCode.PurposeCode]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/purpose-codes/{purposeCodeId}":{"get":{"tags":["PurposeCode"],"summary":"Returns a purpose code for its ID.","description":"Returns a purpose code for its ID.","operationId":"PurposeCode_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"purposeCodeId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.PurposeCode.PurposeCode"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/purpose-codes/code({code})":{"get":{"tags":["PurposeCode"],"summary":"Returns a purpose code for its code.","description":"Returns a purpose code for its code.","operationId":"PurposeCode_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"},{"name":"code","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.PurposeCode.PurposeCode"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/orgs/{organisationId}/purpose-codes/synccandidates":{"get":{"tags":["PurposeCode"],"summary":"Returns purpose codes for sync.","description":"Returns purpose codes for sync.","operationId":"PurposeCode_GetPurposeCodesSyncCandidates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"organisationId","in":"path","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SAOP.API.Models.SyncQueryResult[SAOP.API.Models.SyncCandidate]"}}},"security":[{"oauth2":["Minimax"]}]}},"/api/
[...]
